[Desktop Entry]
Name=Hyprland
Comment=An intelligent dynamic tiling Wayland compositor
Exec=Hyprland
Icon=hyprland
Type=Application
X-DesktopNames=Hyprland
Categories=System;
Keywords=tiling;wayland;compositor;
