CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

build/
result*
/.vscode/
/.idea/
.envrc
.cache

*.o
*-protocol.c
*-protocol.h
.ccls-cache
*.so

hyprctl/hyprctl
completions/generated/*.usage

gmon.out
*.out
*.tar.gz

PKGBUILD

src/version.h

.direnv
