CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
hyprland.pc
_deps

build/
cmake-build-debug/
result*
/.pre-commit-config.yaml
/.vscode/
/.idea/
.envrc
.cache
.direnv
/.cmake/
/.worktree/

*.o
protocols/*.c*
protocols/*.h*
.ccls-cache
*.so

hyprctl/hyprctl

gmon.out
*.out
*.tar.gz

PKGBUILD

src/version.h
hyprpm/Makefile
hyprctl/Makefile

**/.#*.*
**/#*.*#