[Desktop Entry]
Name=Hyprland (systemd session)
Comment=An intelligent dynamic tiling Wayland compositor
Exec=systemctl --user start --wait hyprland-session
Type=Application
DesktopNames=Hyprland (systemd session)
Keywords=tiling;wayland;compositor;
