name: clang-format
on: pull_request_target
jobs:
  clang-format:
    permissions: write-all
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.fork
    name: "Code Style"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: clang-format check
        uses: jidicula/clang-format-action@v4.16.0
        with:
          exclude-regex: ^subprojects$

      - name: Create comment
        if: ${{ failure() && github.event_name == 'pull_request' }}
        run: |
          echo 'Please fix the formatting issues by running [`clang-format`](https://wiki.hyprland.org/Contributing-and-Debugging/PR-Guidelines/#code-style).' > clang-format.patch

      - name: Post comment
        if: ${{ failure() && github.event_name == 'pull_request' }}
        uses: mshick/add-pr-comment@v2
        with:
          message-path: |
            clang-format.patch
