name: Nix (CI)

on: [push, pull_request, workflow_dispatch]

jobs:
  update-inputs:
    if: (github.event_name == 'push' || github.event_name == 'workflow_dispatch')
    uses: ./.github/workflows/nix-update-inputs.yml
    secrets: inherit

  build:
    if: (github.event_name != 'pull_request' || github.event.pull_request.head.repo.fork)
    uses: ./.github/workflows/nix-build.yml
    secrets: inherit

  test:
    if: (github.event_name != 'pull_request' || github.event.pull_request.head.repo.fork)
    needs: build
    uses: ./.github/workflows/nix-test.yml
    secrets: inherit
